.TopGroup
{
  z-index:99;
  position:relative;
  text-align: left;
}

.DefaultTab TD
{
  color:black; 
  background-image: url(../images/tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10	px; 
  cursor:default;
}

.DefaultTabHover TD
{
  color:black; 
  background-image: url(../images/hover_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.SelectedTab TD
{
  color:black; 
  background-image: url(../images/selected_tab_bg.gif);
  font-family:MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

