.calinfo {
	margin: 0px;
	padding: 5px;
	border: 1px solid #C06800;
	border-left:10px solid #C06800;
	background-color: #FFFC9F;
	color: #C06800;
}
.calinfo2 {
	margin: 0px;
	margin-bottom: 2px;
	padding: 1px;
	border: 1px solid #C06800;
	border-left:10px solid #C06800;
	background-color: #FFFC9F;
	color: #C06800;
	text-align:center;
	overflow:hidden;
	height:20px;
}
.calmore {
	border: 1px solid #C06800;
	background-color: #FFFC9F;
	height: 10px;
	text-align:center;
	cursor:pointer;
}
.calinfo2 a{
	color: #c06800;
}
.calinfo2 a:hover{
	color: #c06800;
	text-decoration:underline;
}
.box01 {
	border: 1px solid #CCCCCC;/*#447EBE;*/
	border-top:0px;
	background-color: White;
	border-left: none;
	border-right: none;
}
.box01 .header {
	background-image: url(../Img/leftmenubg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	border-right: 1px solid #91C1DE;
	height: 26px;
	font-size: 14px;
	font-weight: bold;
	color: #396BAB;
}
.box01 .headerright {
	background-image: url(../Img/leftmenubg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	border-left: 1px solid #FFFFFF;
	height: 26px;
	font-size: 14px;
	font-weight: bold;
	color: #396BAB;
}
.box01 .line {
	background-color: #59AAE0;
}
.box01 .header2 {
	height: 25px;
	background-color: #D4F1FD;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #91C1DE;
	border-bottom: 1px solid #91C1DE;
}
.box01 .header4{
	background-image: url(../Img/leftmenubg.jpg);
	background-repeat: repeat-x;
	background-position: top;
	height: 26px;
	color:#396BAB;
}
.box01 .header2right {
	height: 25px;
	background-color: #D4F1FD;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #91C1DE;
}
.box01 .left {
	background-color: #D4F1FD;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #91C1DE;
}
.box01 .right {
	border-top: 1px solid #FFFFFF;
}
.box01 .lefttop {
	background-color: #D4F1FD;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #91C1DE;
	border-bottom: 1px solid #91C1DE;
	width:55px;
}
.box01 .content01{
  padding:10px;
  font-size: 14px;
  line-height: 20px;
  color: #2D2D2D;
}
.box01 .title04 {
	color: #1F87CE;
	background-image: url(../Img/leftmenubg.jpg);
	background-position: bottom;
	background-repeat: repeat-x;
	height: 25px;
	border-bottom: 1px solid #91C1DE;
}
.box01 .time01 {
	background-color: #D4F1FD;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #91C1DE;
	color: #1F87CE;
	font-size: 18px;
	text-align: right;
	vertical-align: top;
	height: 24px;
	padding-right: 5px;
	width:50px;
}
.box01 .time02 {
	background-color: #D4F1FD;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #91C1DE;
	border-bottom: 1px solid #91C1DE;
	height: 24px;
}
.box01 .hour01 {
	border-bottom: 1px solid #E3EDF2;
	height: 24px;
}
.box01 .hour02 {
	border-bottom: 1px solid #98CDE9;
	height: 24px;
}
.box01 .weektd {
	border-right: 1px solid #91C1DE;
	border-bottom: 1px solid #91C1DE;
}
.box01 .weektd2 {
	color: #085284;
   padding: 4px;
}
.box01 .weektd3 {
	border-right: 1px solid #91C1DE;
	border-bottom: 1px solid #91C1DE;
	color: #085284;
	background-color: #F2FAFF;
}
.box01 .weektd4 {
	border-right: 1px solid #91C1DE;
	border-bottom: 1px solid #91C1DE;
	color: #085284;
	background-color: #D6F1FF;
}
.box01 .header3 {
	height: 35px;
	background-color: #D4F1FD;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #91C1DE;
}
.box01 .down {
	text-align: center;
	height: 25px;
	background-color: #D4F1FD;
	border-top: 1px solid #91C1DE;
	border-left: 1px solid #FFFFFF;
}
.box01 .down2{
   text-align:center;
   height:27px;
	background-color: #D4F1FD;
	border-left: 1px solid #FFFFFF;	
	border-top: 1px solid #CBDCE6;	
	vertical-align: middle;
}
.box01 .down3{
   text-align:left;
   height:25px;
	background-color: #F6FBFD;
	border-left: 1px solid #FFFFFF;	
	border-top: 1px solid #CBDCE6;	
		vertical-align: middle;

}
.box01 .info {
	border-bottom: 1px solid #E2E2E2;
	height: 20px;
	line-height: 18px;
}
.box01 .info td{
    border: 1px solid transparent;
	border-bottom: 1px solid #E2E2E2;
	height: 20px;
	line-height: 18px;
}
.box01 .info2 {
	border-bottom: 1px solid #E2E2E2;
	height: 20px;
	line-height: 18px;
}
/*
.box01 .info td input{
	height: 18px;
	width: 90%;
	border: none;
	border-bottom: 1px solid #cccccc;
}
*/

.box01 .infoUnread{
	border-bottom: 1px solid #E2E2E2;
	height: 20px;
	line-height: 18px;
	font-weight: bold;
}
.box01 .infoover{
	border-bottom: 1px solid #E2E2E2;
	background-color: #F8F0D2;
	height: 20px;
	line-height: 18px;
	font-weight: bold;
}
.box01 .infoUnread td {
	border-bottom: 1px solid #E2E2E2;
	height: 20px;
	line-height: 18px;
	font-weight: bold;
}
.box01 .infoover td {
    border: 1px solid transparent;
	border-bottom: 1px solid #E2E2E2;
	background-color: #F8F0D2;
	height: 20px;
	line-height: 18px;
	font-weight: bold;
}

.box01 .infolist{
	border-bottom: 1px solid #E2E2E2;
	height:36px;
	line-height: 18px;
}
.box01 .headeraddress,{
   background-image: url(../Img/aarow01.gif);
   background-repeat: no-repeat;
   background-position: 6px 7px;
   background-color: #1F72B8;
	height: 24px;
	color:#D7F0FF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	padding-left:12px;
}
.box01 .headeraddress a{
	color:#D7F0FF;
}
.box01 .headeraddress a:hover{
	color:#FDFF63;
}
.box01 .title01 {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #EAB950;
	background-color: #FFFC9E;
	height: 45px;
}
.box01 .title02 {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #D7D7D7;
	background-color: #F7F7F7;
	height: 25px;
}
.box01 .title03 {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #E8E8E8;
	background-color: #FCFCFC;
	height: 25px;
}
.box01 .content {
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	color: #2D2D2D;
}
.box02 {
	border: 1px solid #447EBE;
	background-color: #CFEEFF;
}
