.MainNav{
	float: left;
	height: 30px;
	background: url(../Img/MainNavBg.jpg) repeat-x;
	border-bottom: 1px solid #D0D6D9;
	overflow: hidden;
} 
.MainNav .Nav{
	float: left;
	height: 25px;
	width: 80%;
	padding-left: 10px;
	padding-top: 5px;
}
.MainNav .Nav a{
	padding-left: 20px;
	color: #126891;
}
.MainNav .Nav a:hover{
	text-decoration: underline;
}
.MainNav .Right{
	float: right;
	height: 25px;
	width: 250px;
	padding-top: 5px;
}
.MainNav .Right a{
	color: #002D5F;
}


.MainNav2{
	float: left;
	height: 30px;
	background: url(../Img/MainNavBg.jpg) repeat-x;
	border-bottom: 1px solid #D0D6D9;
	overflow: hidden;
} 
.MainNav2 .Nav{
	float: left;
	height: 25px;
	width: 70%;
	padding-left: 10px;
	padding-top: 5px;
}
.MainNav2 .Nav a{
	padding-left: 20px;
	color: #126891;
}
.MainNav2 .Nav a:hover{
	text-decoration: underline;
}
.MainNav2 .Right{
	float: right;
	height: 25px;
	width: 140px;
	padding-top: 5px;
}
.MainNav2 .Right a{
	color: #002D5F;
}



.LeftNav {
	width:168px;
	border:1px solid #94B1C7;
	background: White;
	margin-bottom:8px;
}

.LeftNav h1{
	margin:0px;
	padding:4px;
	font-size:12px;
	font-weight:bold;
	border-bottom:1px solid #94B1C7;	
	border-top:1px solid #94B1C7;
	background: url(../Img/MainNavBg.jpg) repeat-x top;
	margin-top: -1px;
	overflow: hidden;
}
.LeftNav h1 a{
	 background: url(../Img/Listimage07.jpg) no-repeat 0 2px;
	 padding-left: 15px;
}

.LeftNav h2{
	margin:0px;
	padding:4px;
	font-size:12px;
	font-weight:normal;	
	padding-left: 22px;
	background:white url(../Img/Listimage03.gif) no-repeat 10px 6px;
	width:140px;
	
}
.LeftNav h1 a{
	color: #004173;
	
}
.LeftNav h2 a{float:left;
}
.LeftNav h2 span{
	float:right;
}
	
.LeftNav div{
	height: auto;
}



