.Wp_Right_01{
	border: 1px solid #AECDE2;
   float:left;
	margin-bottom:8px;
	background: white;
}
.Wp_Right_01 .Head{
	background:  url(../Img/Wp_Right_01H.jpg) repeat-x top;
	border-bottom: 1px solid #AECDE2;
	height: 26px;
	float: left;
	width: 251px;
}

.Wp_Right_01 .Head .Title{
	float: left;
}
.Wp_Right_01 .Head .Title a{
	color: white;
	font-size:13px;
	font-weight:bold;
	line-height: 26px;
	padding-left:6px;
	display: block;
	clear: both;
	white-space:  nowrap;
}
.Wp_Right_01 .Head .More{
	float: right;
	white-space: nowrap;
}
.Wp_Right_01 .Head .More a{
	font-size:12px;
	color: white;
   line-height:26px;
	padding-right:4px;
}
.Wp_Right_01 .Head .Title span{
	font-size:8px;
   vertical-align: middle;
	color: #0F4E79;
}

.Wp_Right_01 .InfolistA2 ul li{
	width: 230px;
	_width:240px;
	border-bottom:1px dotted #D7D7D7;
}
.Wp_Right_01 .InfolistA2 ul li span{
	color:#F74015;
	white-space: nowrap;
}





.Wp_Center_01{
	border: 1px solid #AECDE2;
   float:left;
	margin-bottom:8px;
	background: white;
}
.Wp_Center_01 .Head{
	background:  url(../Img/Wp_Center_01H.jpg) repeat-x top;
	border-bottom: 1px solid #AECDE2;
	height: 26px;
	float: left;
}

.Wp_Center_01 .Head .Title{
	float: left;
}
.Wp_Center_01 .Head .Title a{
	color: white;
	font-size:13px;
	font-weight:bold;
	line-height: 26px;
	padding-left:26px;
	display: block;
	clear: both;
	white-space:  nowrap;
	background:  url(../Img/Wp_Center_01T.jpg) no-repeat left;
	width:200px;
	
}
.Wp_Center_01 .Head .More{
	float: right;
	white-space: nowrap;
}
.Wp_Center_01 .Head .More a{
	font-size:12px;
	color:#0E3D86;
   line-height:26px;
	padding-right:4px;
}
.Wp_Center_01 .Head .Title span{
	font-size:8px;
   vertical-align: middle;
	color: #0F4E79;
}

.Wp_Center_01 .InfolistA4{
	padding: 5px;
}
.Wp_Center_01 .InfolistA4 ul li{
	clear: none;
	white-space: normal;
   line-height: 18px;
	margin-bottom: 4px;
	border-bottom:1px dotted #D7D7D7;
	width: auto;
}
.Wp_Center_01 .InfolistA4 ul li a{
	float: left;
}
.Wp_Center_01 .InfolistA4 ul li span{
	padding-left: 10px;
	white-space: nowrap;
	float: right;
	color: #7B7B7B;
}
.Wp_Center_01 .InfolistA3{
	padding: 5px;
}
.Wp_Center_01 .InfolistA3 ul li{
	clear: none;
	white-space: normal;
   line-height: 18px;
	margin-bottom: 4px;
	border-bottom:1px dotted #D7D7D7;
	width: auto;
}
.Wp_Center_01 .InfolistA3 ul li a{
	float: left;
}
.Wp_Center_01 .InfolistA3 ul li span{
	padding-left: 10px;
	white-space: nowrap;
	float: right;
	color: #7B7B7B;
}
