div,form{
	margin:0;
	padding:0;
}
img {
	border: 0;
}
h1{
	padding:0;
	margin:0;
}
h2,h3,h4,h5,h6{
	padding:0;
	margin:8px 0 0 0;
}
h2{
	text-align:left;
	font-size:14px;
	font-weight:bold;
	padding-left:20px;
	border-bottom:3px solid #f2f2f2;
	color:#ff9900
}
h3{
	text-align:left;
	font-size:14px;
	font-weight:bold;
}
td {
	font-family: "Arial", "Helvetica", "sans-serif";
	font-size: 12px;
/*	color: #666666;*/
	color: #000000;
}
dl,ul,dt,dd,li{
	margin:0;
	padding:0;
	list-style:none;
	font-weight:normal;
}
dl,ul{
	line-height:24px;
}

